.banner {
    position: absolute;
    top:230px;
   
    left:800px;
    margin: 0 auto;
    text-align: center;
}

.dg-wrapper {
    width: 550px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.dg-wrapper a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.dg-wrapper a:first-child {
    z-index: 2;
}

.dg-wrapper a img {
    display: block;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    width: 240px;
}

.dg-wrapper a.dg-transition {
    transition: all 0.5s ease-in-out;
}

.dg-wrapper a.dg-transition-fast {
    transition: all 0.3s ease-in-out;
}



.dg-container .button {
     position: relative;
     z-index: 5;
     top:20px;
     left: -170px;
 }

.dg-container .button li {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.dg-container .button .light {
    background: #1FFF45;
}

@media (max-width: 1000px){
        .banner {
                position: absolute;
                top:650px;
                left:30%;
                margin: 0 auto;
                text-align: center;
            }
        .dg-wrapper {
    width: 510px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.dg-container .button {
     position: relative;
     z-index: 5;
     top:20px;
     left: -30%;
 }
                          
} 

@media(min-width: 600px) and (max-width: 800px) {
    .banner {
                position: absolute;
                top:650px;
                left:25%;
                margin: 0 auto;
                text-align: center;
            }
}

@media(min-width: 400px) and (max-width: 600px) {
    .banner {
                position: absolute;
                top:650px;
                left:20%;
                margin: 0 auto;
                text-align: center;
            }
    .dg-wrapper {
    width: 400px;
    height: 330px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}
    .dg-container .button {
     position: relative;
     z-index: 5;
     top:20px;
     left: -25%;
 }
}