/* css viec lam  */

.trine *{
    color: #37393b;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}

.viec_row a {
    text-decoration: none;
    color: rgb(88, 87, 87);
}
.viec_row:after {
    content: "";
    display: table;
    clear: both;
}
.viec_row {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0;
}
.viec_gray {
    color: #5d677a;
}
.viec_green {
    color: #00FFD5;
    font-weight: 400;
}

.viec_caption a{
    font-weight: 400;
}

.viec_item {
    position: relative;
}
.viec_img {
    
    max-width: 79px;
    height: 79px;
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.viec_title {
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.viec_title a{
    color: white;
}

.viec_title a{
    color: white;
}
.viec_content {
    display: flex;
    padding: 15px 10px;
    border-top: 1px solid #e5e5e5;
    border-radius: 5px;
}
.viec_top {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    float: right;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 16px;
    padding: 1.5px 4.5px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #f7a334;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}
.viec_figcaption {
    padding-left: 15px;
}
.viec_caption {
    color: #00FFD5;
    font-size: 14px;
    line-height: 1.7;
}

.viec_col {
    float: left;
    width: 47%;
    padding-right: 30px;
    padding-bottom: 5px;
    margin: 0;
  }
.viec_col:last-child {
    margin-right: 0;
}
@media screen and (max-width:1200px) {
    .viec_col {
      width: 100%;
    }
}
.viec_page a {
    text-decoration: none;
    color: white;
}
.viec_page {
    margin-top: 30px;
    text-align: center;
}
.viec_circle {
    margin-right: 7px;
    border-radius: 50%;
    border: none;
    text-align: center;
    justify-self: center;
    width: 30px;
    height: 30px;
    padding: 1px;
    display: inline-block;
    border: 1px solid rgb(211, 204, 204);
}
.viec_text_or {
    background: #f7a334;
    color: #fff;
    border: 1px solid #f7a334;
}
.viec_circle-next {
    margin-right: 8px;
    border-radius: 50%;
    border: none;
    text-align: center;
    justify-self: center;
    color: rgb(146, 145, 145);
    width: 30px;
    height: 30px;
    padding: 2px;
    display: inline-block;
    background-color: rgb(240, 234, 234);
    font-size: 15px;
    border: 1px solid rgb(240, 234, 234);
}


.location span{
    color: #5980FF;
    font-weight: 400;
}